WORLD_ID_RP_ID=rp_replace_me
WORLD_ID_RP_SIGNING_KEY=0xreplace_me
WORLD_ID_ACTION=human-verifier
WORLD_ID_SIGNATURE_TTL_SECONDS=300
SIGNER_PORT=8788

VITE_SIGNER_URL=http://127.0.0.1:8788
VITE_WORLD_ID_APP_ID=app_staging_replace_me
VITE_WORLD_ID_ACTION=human-verifier
VITE_WORKFLOW_USER_ADDRESS=0x7e5f4552091a69125d5dfcb7b8c2659029395bdf
VITE_WORKFLOW_TARGET_CHAIN=ethereum-testnet-sepolia
VITE_WORKFLOW_COUNTRY_CODE=US
VITE_WORKFLOW_CREDENTIAL_TYPE=accredited
